@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  color: set-text-color($main_color);
  background: $main_color;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}


h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($main_color, 2), 0.5);
  }
}

a {
  color: set-text-color($main_color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.scnd-color_text {
  color: $secondary_color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .social-media {
    margin-top: 5rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary_color;
        @include ease_0ut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bio-img bio bio';
  grid-template-columns: repeat(3, 1fr);

  .bio_img {
    grid-area: bio-img;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary_color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
}

//Work/Мои работы

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  
  img {
    width: 100%;
    border: 3px set-text-color($main_color) solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary_color;
      @include ease_0ut;
    }
  }
}

//Контакты
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px set-text-color($main_color) solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include ease_0ut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary_color;
      color: set-text-color($secondary_color);

      span {
        color: set-text-color($secondary_color);
      }
    }
  }
}

//Стили кнопок
.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;

&:hover {
  background: $secondary_color;
  color: set-text-color($secondary_color)
}
}

.btn-dark {
  @extend .btn;
  background: darken($main_color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($main_color, 50);
  color: #0c121d;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($main_color, 10);
  color: set-text-color($main_color);
  height: 60px;
}

@import 'mobile';